<a href="https://colab.research.google.com/github/ozlemizgi/data_heartmedical/blob/main/heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Kütüphanelerin Çağırılması
import numpy as np
import pandas as pd

import seaborn as sns
sns.set()

import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# Veriyi okumadan önce Sütun isimlerini içerisinde barındıran bir liste oluşturduk, kendi istediğimiz gibi isimlendirdik.
features = ["id" , "age" , "gender", "impluse" , "pressurehight" , "pressurelow" , "glucose" , "kcm" , "troponin" , "glass"]

# Veriyi okurken names= features diyerek kendi veridiğimiz isimlere göre okuması için komut verdik.
MHR = pd.read_csv("https://raw.githubusercontent.com/ozlemizgi/data_heartmedical/main/csv_result-Medicaldataset.csv", names= features, header=0)
MHR.sample(4)

,id,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin,glass
605,608,62,0,75,125,79,116.0,259.70,0.209,positive
50,53,63,0,81,130,65,98.0,2.28,0.040,positive
153,156,70,0,75,128,74,84.0,1.27,0.005,negative
304,307,42,1,88,152,87,113.0,2.31,0.003,negative

In [8]:
# Veri setinin boyutları
print("Satır:", MHR.shape[0], '\t', "Sütun:", MHR.shape[1])

# bir Satır boşluk bırak
print("\n")
print("\t")

# Veri setinin sütun isimleri
print(MHR.columns)

Satır: 1317 	 Sütun: 10



Index(['id', 'age', 'gender', 'impluse', 'pressurehight', 'pressurelow',
       'glucose', 'kcm', 'troponin', 'glass'],
      dtype='object')

In [9]:
# Veriseti hakkında genel bilgi 
MHR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1317 entries, 0 to 1316
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1317 non-null   int64
 1   age            1317 non-null   int64
 2   gender         1317 non-null   int64
 3   impluse        1317 non-null   int64
 4   pressurehight  1317 non-null   int64
 5   pressurelow    1317 non-null   int64
 6   glucose        1317 non-null   float64
 7   kcm            1317 non-null   float64
 8   troponin       1317 non-null   float64
 9   glass          1317 non-null   object
dtypes: float64(3), int64(6), object(1)
memory usage: 103.0+ KB

In [12]:
MHR.sample(5)

,id,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin,glass
572,575,37,1,64,109,60,148.0,0.604,0.006,negative
1224,1227,40,1,67,177,105,94.0,0.973,1.250,positive
1021,1024,77,0,94,91,52,116.0,1.420,0.026,positive
901,904,51,1,103,126,75,188.0,1.600,0.011,negative
990,993,72,0,64,112,65,109.0,1.320,0.076,positive

In [13]:
MHR[["age", "glucose"]]

      age  glucose
0      55    270.0
1      64    270.0
2      55    300.0
3      58     87.0
4      32    102.0
...   ...      ...
1312   44    204.0
1313   66    149.0
1314   45     96.0
1315   54    443.0
1316   51    134.0

[1317 rows x 2 columns]

In [20]:
# replace() : verileri değiştirmek için kullanırız. glass bölümdeki değerleri zıttına çevirdim.
MHR = MHR.replace({'Class': {"negative", "positive" }})
MHR.sample(2)

,id,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin,glass
176,179,50,1,79,141,79,81.0,2.93,0.142,positive
788,791,28,1,57,110,60,101.0,0.92,0.003,negative

In [21]:
# Veriyi istatistiksel açıdan inceleyelim.
MHR.describe()

,id,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin
count,1317.000000,1317.000000,1317.000000,1317.000000,1317.000000,1317.000000,1317.000000,1317.000000,1317.000000
mean,661.000000,56.212604,0.659074,78.334093,127.167806,72.280942,146.510782,15.291009,0.360677
std,380.329462,13.621469,0.474201,51.666565,26.114517,14.022779,74.865812,46.360187,1.155244
min,3.000000,14.000000,0.000000,20.000000,42.000000,38.000000,35.000000,0.321000,0.001000
25%,332.000000,47.000000,0.000000,64.000000,110.000000,62.000000,98.000000,1.650000,0.006000
50%,661.000000,58.000000,1.000000,74.000000,124.000000,72.000000,116.000000,2.850000,0.014000
75%,990.000000,65.000000,1.000000,85.000000,143.000000,81.000000,169.000000,5.800000,0.085000
max,1319.000000,103.000000,1.000000,1111.000000,223.000000,154.000000,541.000000,300.000000,10.300000

In [22]:
# Yukarıdaki işleme Transpose işlemi uygulayabiliriz. (Büyük verilerde tüm sütunları görebilmek için)
MHR.describe().T

,count,mean,std,min,25%,50%,75%,max
id,1317.0,661.000000,380.329462,3.000,332.000,661.000,990.000,1319.0
age,1317.0,56.212604,13.621469,14.000,47.000,58.000,65.000,103.0
gender,1317.0,0.659074,0.474201,0.000,0.000,1.000,1.000,1.0
impluse,1317.0,78.334093,51.666565,20.000,64.000,74.000,85.000,1111.0
pressurehight,1317.0,127.167806,26.114517,42.000,110.000,124.000,143.000,223.0
pressurelow,1317.0,72.280942,14.022779,38.000,62.000,72.000,81.000,154.0
glucose,1317.0,146.510782,74.865812,35.000,98.000,116.000,169.000,541.0
kcm,1317.0,15.291009,46.360187,0.321,1.650,2.850,5.800,300.0
troponin,1317.0,0.360677,1.155244,0.001,0.006,0.014,0.085,10.3